body {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #000; }

.arrow {
  position: absolute;
  top: 9px;
  right: 5px;
  width: 16px;
  height: 16px;
  background: url("../img/arrow_up.png") no-repeat; }
  .arrow.arrow-down {
    background: url("../img/arrow_down.png") no-repeat; }

.wrapper {
  width: 800px;
  margin: auto;
  background: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 80%;
  overflow-y: auto;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

header {
  background: lightgreen;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #006400;
  padding: 10px 20px; }
  header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    color: #006400;
    font-weight: bold; }

.add-task-form {
  background-color: rgba(0, 255, 0, 0.2);
  border-bottom: 1px solid #006400;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px; }
  .add-task-form:after {
    content: "";
    display: table;
    clear: both; }
  .add-task-form .form-item input, .add-task-form .form-item select, .add-task-form .form-item textarea {
    border: 1px solid #006400;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width: 30px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    outline: none; }
    .add-task-form .form-item input:focus, .add-task-form .form-item select:focus, .add-task-form .form-item textarea:focus {
      background-color: rgba(0, 255, 0, 0.1);
      -webkit-box-shadow: 0 0 2px 2px #006400;
      box-shadow: 0 0 3px 3px #006400;
      outline: none;
      border-color: transparent; }
  .add-task-form .form-item input[type=submit]:focus, .add-task-form .form-item input[type=reset]:focus, .add-task-form .form-item input[type=button]:focus {
    background-color: initial;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #006400; }
  .add-task-form .form-item label {
    min-height: 30px;
    line-height: 30px;
    vertical-align: top; }
  .add-task-form .form-item textarea {
    min-height: 100px;
    vertical-align: top;
    width: 100%; }

.inline-form .add-task-form .form-item {
  float: left;
  margin-left: 20px; }
  .inline-form .add-task-form .form-item:first-child {
    margin-left: 0; }
  .inline-form .add-task-form .form-item label {
    display: block; }

.modal-dialog {
  width: 290px;
  z-index: 10;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  border: 1px solid #006400;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 380px;
  top: 50%;
  margin-top: -185px; }
  .modal-dialog .add-task-form .form-item {
    margin-bottom: 10px; }

.menu {
  list-style: none;
  padding-top: 20px; }
  .menu:after {
    content: "";
    display: table;
    clear: both; }
  .menu li {
    float: left;
    position: relative;
    z-index: 0; }
    .menu li a {
      color: black;
      text-decoration: none;
      line-height: 30px;
      background-color: lightgreen;
      border: 1px solid #006400;
      display: block;
      border-bottom: none;
      border-left: none;
      -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 0 10px 0 0;
      -moz-border-radius: 0 10px 0 0;
      border-radius: 0 10px 0 0;
      margin-left: -10px;
      padding-left: 25px;
      padding-right: 20px; }
      .menu li a:hover {
        color: darkgreen; }
      .menu li a.active {
        background: green; }
        .menu li a.active:hover {
          color: black; }
    .menu li:first-child {
      z-index: 1; }
      .menu li:first-child a {
        margin-left: 0;
        padding-left: 20px; }

.result-table table {
  width: 100%; }
.result-table thead {
  border: 1px solid #006400;
  border-left: none;
  border-right: none; }
  .result-table thead td {
    background: lightgreen;
    position: relative;
    cursor: pointer;
    border-left: 1px solid #006400; }
    .result-table thead td:first-child {
      border: none; }
.result-table td {
  padding: 10px 20px; }
.result-table tbody tr td:last-child {
  text-align: center; }
.result-table tbody tr:nth-child(odd) td {
  background: rgba(0, 255, 0, 0.2); }

.overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.btn, .btn:visited {
  border: 1px solid #006400;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: green;
  color: lightgreen;
  min-width: 26px;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  outline: none;
  padding: 0 10px; }
  .btn:hover, .btn:visited:hover {
    opacity: 0.8; }
  .btn:focus, .btn:visited:focus {
    background-color: green !important; }
  .btn.add-btn, .btn:visited.add-btn {
    background-image: url("../img/tick.png");
    background-repeat: no-repeat;
    background-position: center; }

/*# sourceMappingURL=app.css.map */
