$indents: 20px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin box-shadow {
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
}
@mixin border {
  border: 2px solid darkgray;
}
//icon

.arrow{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  background: url("../img/arrow_up.png") no-repeat;
  &.arrow-down {
    background: url("../img/arrow_down.png") no-repeat;
  }
}

.wrapper {
  width: 800px;
  margin:  0 auto;
  padding: $indents 0;
  @include clearfix;
}

.add-task-form {
  margin: $indents 0;
  @include clearfix;
  .form-item {
    input, select, textarea {
      @include border;
      height: $indents*1.5;
      line-height: $indents*1.5;
      vertical-align: middle;
      padding: 2px;
      @include box-sizing;
      min-width: $indents*1.5;
      @include box-shadow;
    }

    label {
      min-height: $indents*1.5;
      line-height: $indents*1.5;
      vertical-align: top;
    }

    textarea {
      min-height: 100px;
      vertical-align: top;
      width: 100%;
    }
  }
}
.inline-form {
  .add-task-form {
    .form-item {
      float: left;
      margin-left: $indents;
      &:first-child {
        margin-left: 0;
      }
      label {
        display: block;
      }
    }
  }
}

.modal-dialog {
  width: 290px;
  z-index: 10;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  @include border;
  @include box-shadow;
  @include box-sizing;
  padding: $indents;
  height: 380px;
  top: 50%;
  margin-top: -185px;
  .modal-header{
    position: absolute;
    top: -9px;
    left: $indents;
    span{
      background: white;
      display: inline-block;
      padding: 0 5px;
    }
  }
  .add-task-form {
    .form-item {
      margin-bottom: $indents/2;
    }
  }
}

  .menu {
    list-style: none;
    margin: $indents 0;
    @include clearfix;
    li {
      float: left;
    }
    a {
      color: black;
      text-decoration: none;
      line-height: $indents*1.5;
      padding: 0 $indents/2;
      @include border;
      display: block;
      @include box-shadow;
      margin-left: -1px;
      &:first-child{
        margin-left: 0;
      }
      &:hover{
        color: blue;
      }
      &.active{
        background: lightblue;
        &:hover{
          color: black;
        }
      }


    }
  }

  .result-table {
    table {
      width: 100%;
      @include border;
      border-left: none;
    }
    thead td {
      background: gray;
      position: relative;
      cursor: pointer;
    }
    td {
      border-left: 2px solid darkgray;
      padding: 5px 25px 5px 5px;
    }
    tbody tr:nth-child(odd) {
      td {
        background: lightgray;
      }
    }
  }

.overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
