<!doctype html>
<html lang="en" ng-app="taskApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/angular-local-storage.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/customModalDirective.js"></script>
</head>
<body ng-controller="TaskListCtrl">

    <div class="wrapper">
      <div class="inline-form">
        <div class="add-task-form">
          <form>
            <div class="form-item">
              <label for="task-name">Task:</label>
              <input id="task-name" type="text" ng-model="task.name" placeholder="Task name">
            </div>
            <div class="form-item">
              <label for="priority">Priority:</label>
              <select id="priority" ng-model ="task.priority" ng-options="option.value as option.name for option in typePriority">
              </select>
            </div>
            <div class="form-item">
              <label for="end-date">End data:</label>
              <input type="date" name="end-date" id="end-date" ng-model="task.enddate">
            </div>
            <div class="form-item">
              <label></label>
              <input type="submit" value="+" ng-click="addTask(task)">
            </div>
          </form>
        </div>
      </div>

      <ul class="menu">
        <li>
          <a ng-class="{active: activeTab}" href="#" ng-click="activeTab = !activeTab">Active</a>
        </li>
        <li>
          <a ng-class="{active: completedTab}" href="#" ng-click="completedTab = !completedTab">Completed</a>
        </li>
      </ul>
      <div class="result-table">
        <table>
          <thead>
          <tr>
            <td  ng-click="sortType = 'name'; sortReverse = !sortReverse">
              Task
              <span ng-show="sortType == 'name' && !sortReverse" class="arrow arrow-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="arrow arrow-up"></span>
            </td>
            <td  ng-click="sortType = 'priority'; sortReverse = !sortReverse">
              Priority
              <span ng-show="sortType == 'priority' && !sortReverse" class="arrow arrow-down"></span>
              <span ng-show="sortType == 'priority' && sortReverse" class="arrow arrow-up"></span>
            </td>
            <td  ng-click="sortType = 'enddate'; sortReverse = !sortReverse">
              End date
              <span ng-show="sortType == 'enddate' && !sortReverse" class="arrow arrow-down"></span>
              <span ng-show="sortType == 'enddate' && sortReverse" class="arrow arrow-up"></span>
            </td>
            <td>
            </td>
          </tr>
          </thead>
          <tbody ng-if = "completedTab && completedTask">
            <tr ng-repeat="task in completedTask" ng-dblclick="toggleModal(this.task)" >
              <td>
                {{task.name}}
              </td>
              <td>
                {{task.priority}}
              </td>
              <td>
                {{task.enddate | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                <input type="checkbox" ng-click="updateTaskStatus(task)" ng-model="task.completed">
            </tr>
          </tbody>
          <tbody ng-if = "activeTab && activeTask">
          <tr ng-repeat="task in activeTask" ng-dblclick="toggleModal(task)" >
            <td >
              {{task.name}}
            </td>
            <td>
              {{task.priority}}
            </td>
            <td>
              {{task.enddate | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              <input type="checkbox" ng-click="updateTaskStatus(task)" ng-model="task.completed">
            </td>
          </tr>
          </tbody>
          <tbody ng-if="completedTab && activeTab">
          <tr ng-repeat="task in tasks" >
            <td>
              {{task.name}}
            </td>
            <td>
              {{task.priority}}
            </td>
            <td>
              {{task.enddate | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              <input type="checkbox" ng-click="updateTaskStatus(task)" ng-model="task.completed">
            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div ng-view></div>
    </div>

    <custom-modal header="Task details" show="show"
                  toggle-modal="toggleModal(show)"
                  data="data">
      <div class="add-task-form">
        <form>
          <div class="form-item">
            <label for="task-name">Task:</label>
            <input id="task-name" type="text" ng-model="data.name">
          </div>
          <div class="form-item">
            <label for="priority">Priority:</label>
            <select id="priority" ng-model ="data.priority" ng-options="option.value as option.name for option in typePriority">
            </select>
          </div>
          <div class="form-item">
            <label >End date:</label>
            <input type="date"  ng-model="data.enddate">
          </div>
          <div class="form-item">
            <label for="description">Full description</label>
            <textarea id="description" ng-model="data.description">Full description</textarea>
          </div>
          <div class="modal-buttons">
              <button type="button" ng-click="hideModal(data)">Cancel</button>
              <button type="button" ng-click="submitModal()">Ok</button>
          </div>
        </form>
      </div>
    </custom-modal>
</body>
</html>
